body {
    color: #F5E2C6;
    font-family: 'Fredoka One', cursive;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin: 0;
    height: 100vh;
}

.left-container{
    background: #20242A;
}

.rigth-container {
    background: #2B3038;
}


h1 {
    margin: 0;
    padding-top: 12vh;
    font-size: 70px;
    padding-left: 10%;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    align-items: center;
}

.font-names {
    color: rgba(32, 36, 42, 0.8);
    display: flex;
    flex-direction: column;
    font-size: 12vw;
    opacity: 0.9;
    padding-left: 5%;
    padding-top: 8vh;
    align-items: end;
}

.font-names p {
    margin: 0;
    text-align: end;
}
.video-container {
    position: absolute;
    top: calc((100% - 480px)/2);
    left: calc((100% - 640px)/2);
    z-index: 2;
    width: 640px;
    height: 480px;
    background: #7f8388;
}

.circle {
    position: absolute;
    border-radius: 50%;
    border: 17px solid #FF662B;
    height: 200px;
    width: 200px;
    top: calc(((100% - 480px)/2) + 350px);
    left: calc(((100% - 640px)/2) - 110px);
}