<!DOCTYPE html>
<html>
  <head>
    <title>CheckingFace</title>
    <style>
      header {
    color: white;
    letter-spacing: 3px;
    background-color: rgba(47, 60, 75, 0.925);
    height: 60px;
    width:100%;
    text-align: center;
    top: 0;}

      .container {
    max-width: 600px;
    margin: 30px auto;
    align-items: center;
}
    </style>
  </head>
  <body>
    <header>
      <h1>Checking Face</h1>
    </header>
    <div class="container">
      <img src="{{ url_for('video_feed') }}">
    </div>
  </body>
</html>