<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CheckingFace</title>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet"> 
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div class="left-container">
    <h1>Checking <br> Face</h1>
    <div class="circle"></div>

  </div>
  <div class="rigth-container">
    <div class="font-names"> <p> MARTIN <br> MALE <br> ANDRES </p></div>

  </div>
  <div class="video-container">
    <!-- <img src="{{ url_for('video_feed') }}"/> -->
    <img src="" alt="video"/>
  </div>
</body>
</html>